<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="zhouzhuo810.me.zzandframedemo">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".MyApplication"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--ui design size-->
        <meta-data android:name="design_width" android:value="1080"/>
        <meta-data android:name="design_height" android:value="1920"/>

        <activity android:name="zhouzhuo810.me.zzandframedemo.MainActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="zhouzhuo810.me.zzandframe.ui.act.ImagePreviewActivity"
            android:theme="@style/FullScreenStyle"
            />
        <activity
            android:name="zhouzhuo810.me.zzandframe.ui.act.MultiImagePreviewActivity"
            android:theme="@style/FullScreenStyle"
            />

        <activity android:name=".LvActivity" android:screenOrientation="portrait"/>
        <activity android:name=".RvActivity" android:screenOrientation="portrait"/>
        <activity android:name=".MarkActivity" android:screenOrientation="portrait"/>
        <activity android:name=".TabBarActivity" android:screenOrientation="portrait"/>
        <activity android:name=".PreviewPicActivity" android:screenOrientation="portrait"/>
        <activity android:name=".PhotoActivity" android:screenOrientation="portrait"/>
        <activity android:name=".PagerActivity" android:screenOrientation="portrait"/>
        <activity android:name=".DialogActivity" android:screenOrientation="portrait"/>


    </application>

</manifest>